{% extends 'index.html' %}

{% block content %}

<h2>Создание мини-тестов</h2>

<div id="testForm" style="max-width: 300px; margin: 50px;">
  <label for="testName">Имя теста:</label><br>
  <input class="form-control" type="text" id="testName" name="testName"><br>
  <button type="button" class="btn btn-dark" onclick="addQuestion()">Добавить вопрос</button><br>
</div>

<button type="button" class="btn btn-dark" onclick="submitTest()">Отправить тест</button>

<script>
let questionCount = 0;

function addQuestion() {
  questionCount++;
  let questionDiv = document.createElement('div');
  
  let questionLabel = document.createElement('label');
  questionLabel.innerHTML = `Вопрос ${questionCount}:`;
  questionDiv.appendChild(questionLabel);
  
  let br1 = document.createElement('br');
  questionDiv.appendChild(br1);
  
  let questionInput = document.createElement('input');
  questionInput.classList.add('form-control');
  questionInput.type = 'text';
  questionInput.name = `question${questionCount}`;
  questionDiv.appendChild(questionInput);
  
  let br2 = document.createElement('br');
  questionDiv.appendChild(br2);
  
  let answerLabel = document.createElement('label');
  answerLabel.innerHTML = `Ответ ${questionCount}:`;
  questionDiv.appendChild(answerLabel);
  
  let br3 = document.createElement('br');
  questionDiv.appendChild(br3);
  
  let answerInput = document.createElement('input');
  answerInput.classList.add('form-control');
  answerInput.type = 'text';
  answerInput.name = `answer${questionCount}`;
  questionDiv.appendChild(answerInput);
  
  let br4 = document.createElement('br');
  questionDiv.appendChild(br4);
  
  let addAnswerButton = document.createElement('button');
  addAnswerButton.classList.add("btn")
  addAnswerButton.classList.add("btn-dark")
  addAnswerButton.innerHTML = 'Добавить вариант ответа';
  
addAnswerButton.onclick = function() {
    let newAnswerInput = document.createElement('input');
    newAnswerInput.classList.add('form-control');
    newAnswerInput.type = 'text';
    newAnswerInput.name = `answer${questionCount}`;
    questionDiv.appendChild(newAnswerInput);
    
    let br5 = document.createElement('br');
    questionDiv.appendChild(br5);
};
  
questionDiv.appendChild(addAnswerButton);

document.getElementById('testForm').appendChild(questionDiv);

}

function submitTest() {
let testName =
document.getElementById('testName').value;
let questions =
{};

for (let i=1; i<=questionCount; i++) {
let
questionText =
document.getElementsByName(`question${i}`)[0].value;
let answersInputs =
Array.from(document.getElementsByName(`answer${i}`));
let answers =
answersInputs.map((input, index) => ({ [index+1]: input.value }));

questions[i] =
{
"question": questionText,
"answers": Object.assign({}, ...answers)
};
}

let testJson =
{
"testName": testName,
"questions": questions
};

console.log(JSON.stringify(testJson));
}
</script>

{% endblock %}