{% extends 'profile/profile.html' %}

{% block profile_content %}
<script src="/static/js/courses.js"></script>
<h1>
    Ваше образование
</h1>
<div id="tests">
    <div class="test-card card w-100">
        <div class="card-body">
          <h5 class="card-title">промышленная безопасность</h5>
          <span class="badge rounded-pill text-bg-dark">Сварщик</span>
          <br><br>
          <a href="#" class="btn btn-primary">Начать чтение</a>
        </div>
    </div>
    <div class="test-card card w-100">
        <div class="card-body">
          <h5 class="card-title">охрана труда</h5>
          <span class="badge rounded-pill text-bg-dark">Сварщик</span>
          <br><br>
          <a href="#" class="btn btn-primary">Начать чтение</a>
        </div>
    </div>
    <div class="test-card card w-100">
        <div class="card-body">
          <h5 class="card-title">пожарная безопасностьу</h5>
          <span class="badge rounded-pill text-bg-dark">Сварщик</span>
          <br><br>
          <a href="#" class="btn btn-primary">Начать чтение</a>
        </div>
    </div>
    <div class="test-card card w-100">
        <div class="card-body">
          <h5 class="card-title">подготовка, подготовка деталей под сварку</h5>
          <span class="badge rounded-pill text-bg-dark">Сварщик</span>
          <br><br>
          <a href="#" class="btn btn-primary">Начать чтение</a>
        </div>
    </div>
</div>
<script>getUserCourses();</script>
{% endblock %}