{% extends 'index.html' %}

{% block content %}

<style>
  @media (max-width: 1200px) {
    .left-profile-navbar {
      display: none!important;
    }
  }
</style>

<script src="/static/js/auth.js"></script>
<div class="left-profile-navbar d-flex flex-column flex-shrink-0 p-3 bg-dark" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/company/" class="nav-link link-light" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Наша компания
        </a>
      </li>
      <li>
        <a href="/profile/education/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Моё обучение
        </a>
      </li>
      <li>
        <a href="/profile/tests/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Мои тесты
        </a>
      </li>
      <li>
        <a href="/profile/results/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Мои результаты
        </a>
      </li>
      <!-- <li>
        <a href="/profile/appeals/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Мои обращения 
        </a>
      </li> -->
      <hr>
      {% if role == "HR" or role == "ADMIN" or role == "SUPERUSER" %}
      Администратор, представитель предприятия, HR
      <li>
        <a href="/profile/applications/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Мои заявки
        </a>
      </li>
      <li>
        <a href="/base/materials/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          База уч. материалов
        </a>
      </li>
      <li>
        <a href="/base/tests/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          База тестов
        </a>
      </li>
      <li>
        <a href="/base/employees/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          База сотрудников
        </a>
      </li>
      <li>
        <a href="/analitics/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Аналитика по компании
        </a>
      </li>
      <hr>
      {% endif %}

      {% if role == "ADMIN" or role == "SUPERUSER" %}
      <li>
        <a href="/settings/" class="nav-link link-light">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Настройки
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
<div class="d-flex justify-content-center">
    <div class="profile-margin">
        <div class="d-flex justify-content-center">
            <img src="https://100biografiy.ru/wp-content/uploads/2020/06/a4c1a57aca6a043b6eefafc7d21533b2.1000x1000x1.jpg" 
            class="rounded-circle profile-avatar" alt="...">
        </div>
        <h1 id="fullName"></h1>
        <div class="d-flex" style="justify-content: space-between;">
            <div>
                <span class="badge rounded-pill text-bg-dark">{{ role }}</span>
                <span id="department" class="badge rounded-pill text-bg-dark">Не указана специализация</span>
                <span id="portal" class="badge rounded-pill text-bg-dark">Нет школы</span>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Мой профиль
                </button>
                
                <div style="z-index: 10000; margin-top: 200px;" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ваши данные</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <input id="editFirstName" type="text" class="form-control" placeholder="Имя">
                          <br>
                          <input id="editLastName" type="text" class="form-control" placeholder="Фамилия">
                          <br>
                          <input id="editPatronymic" type="text" class="form-control" placeholder="Отчество">
                        </div>
                        <button onclick="logout();" style="margin: 15px;" type="button" class="btn btn-danger">
                          Сменить профиль
                        </button>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                          <button onclick="updateUser();" type="button" class="btn btn-primary">Изменить</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="fill-profile-info-alert" class="alert alert-danger d-none" role="alert">
            Пожалуйста, заполните информацию о себе подробнее
        </div> 
        <br>
        <div>
            {% block profile_content %}
            
            {% endblock %}
        </div>
        <script>getUser()</script>
    </div>
</div>
{% endblock %}