{% extends 'profile/profile.html' %}

{% block profile_content %}
<h1>
    Доступные тесты
</h1>
<div id="tests">
    <div class="test-card card w-100">
        <div class="card-body">
          <h5 class="card-title">Входное тестирование разнорабочего</h5>
          <span class="badge rounded-pill text-bg-dark">Сварщик</span>
          <br><br>
          <a href="#" class="btn btn-primary">Начать прохождение</a>
        </div>
    </div>
    <div class="test-card card w-100">
        <div class="card-body">
          <h5 class="card-title">Входное тестирование разнорабочего</h5>
          <span class="badge rounded-pill text-bg-dark">Сварщик</span>
          <br><br>
          <a href="#" class="btn btn-primary">Начать прохождение</a>
        </div>
    </div>
</div>
{% endblock %}