{% extends 'profile/profile.html' %}

{% block profile_content %}

<script src="/static/js/vr.js">
    
</script>

<h1>Личный кабинет 
    <br>
    VR тестирования</h1>
    <br>
    <div id="modules" class="d-flex" style="gap: 20px; max-width: 32rem; flex-wrap: wrap;">
        <div class="d-flex" style="gap: 20px; max-width: 32rem; flex-wrap: wrap;">
            <div class="card" style="width: 15rem;">
                <img src="/static/images/vr2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Сварщик</h1>
                    <p class="card-text">Тренажёр</p>
                    <button type="button" class="btn btn-dark">Загрузить</button>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <img src="/static/images/vr2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Сварщик</h1>
                    <p class="card-text">Тренажёр</p>
                    <button type="button" class="btn btn-dark">Загрузить</button>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <img src="/static/images/vr2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Сварщик</h1>
                    <p class="card-text">Тренажёр</p>
                    <button type="button" class="btn btn-dark">Загрузить</button>
                </div>
            </div>
        </div>
    </div>
<script>
    getUserModules();
</script>
{% endblock %}