{% extends 'profile/profile.html' %}

{% block profile_content %}
<script src="/static/js/tests.js"></script>

<h1 id="testName">Название теста</h1>
<span id="testDepartment" class="badge rounded-pill text-bg-dark">Сварщик</span>
<br><br>


<div id="testForms">
</div>

<div id="test-result-success" class="alert alert-success d-none" role="alert">
    Результат тестирования: <span class="testResult">90</span>% теста решено верно
</div>
<div id="test-result-danger" class="alert alert-danger d-none" role="alert">
    Результат тестирования: <span class="testResult">20</span>% теста решено верно
</div>

<button type="button" class="btn btn-dark" onclick="submitTest();">
    Завершить тестирование
</button>

<script>getTest("{{ test_id }}");</script>
{% endblock %}