{% extends 'profile/profile.html' %}

{% block profile_content %}
<script src="/static/js/tests.js"></script>

<h1 id="testName">Название теста</h1>
<span id="testDepartment" class="badge rounded-pill text-bg-dark">Сварщик</span>
<br><br>


<form>
    <p>Выберите ваш любимый цвет:</p>
    <input type="radio" id="red" name="color" value="red">
    <label for="red">Красный</label><br>
    <input type="radio" id="green" name="color" value="green">
    <label for="green">Зеленый</label><br>
    <input type="radio" id="blue" name="color" value="blue">
    <label for="blue">Синий</label><br>
  </form>
  <form>
    <p>Выберите ваш любимый цвет:</p>
    <input type="radio" id="red" name="color" value="red">
    <label for="red">Красный</label><br>
    <input type="radio" id="green" name="color" value="green">
    <label for="green">Зеленый</label><br>
    <input type="radio" id="blue" name="color" value="blue">
    <label for="blue">Синий</label><br>
  </form>
  <form>
    <p>Выберите ваш любимый цвет:</p>
    <input type="radio" id="red" name="color" value="red">
    <label for="red">Красный</label><br>
    <input type="radio" id="green" name="color" value="green">
    <label for="green">Зеленый</label><br>
    <input type="radio" id="blue" name="color" value="blue">
    <label for="blue">Синий</label><br>
  </form>

<script>getTest("{{ test_id }}");</script>
{% endblock %}